@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.honda-btn {
    background-color: #E76F51;
    padding: 10px 24px;
    border-radius: 5px;
}

.honda-bg {
    background: #87ded7;
}

.banner-description {
    color: #E0E0E0;
}

h1 {
    font-size: 48px;
}

.regular-h1 {
    margin-top: 100px;
}

h1 span {
    color: #E76F51;
}

.colored-p {
    color: #E76F51;
    position: relative;
    text-align: center;
}

.grayscale {
    filter: grayscale(100%);
}

.clients {
    padding: 35px;
}

.client-text {
    color:#6C6C6C;
}

.rating {
    color: #E77C40;
}

.client-name {
    color: #23A6F0;
}

.client-profession {
    color: #252B42;
}



